@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

      <section class="content-header">
        <h1 id="exercise-basic-info">
          <span class="exercise-name">Name</span>
          <small class="group-name">Group name</small>
        </h1>
      </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div id="box-top-str" class="info-box">
            <span class="info-box-icon bg-aqua"><span class="info-box-number box-info-main info-box-value">0</span></span>
            <div class="info-box-content">
              <span class="info-box-text">TOP STR-Rate</span>
              <span class="info-box-number">strp</span>
              <span class="info-box-text">On <span class="info-box-date">1/1/2000</span></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div id="box-current-str" class="info-box">
            <span class="info-box-icon bg-red"><span class="info-box-number box-info-main info-box-value">0</span></span>
            <div class="info-box-content">
              <span class="info-box-text">Current STR-Rate</span>
              <span class="info-box-number">strp</span>
              <span class="info-box-text">On <span class="info-box-date">1/1/2000</span></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div id="box-top-lift" class="info-box">
            <span class="info-box-icon bg-green"><span class="info-box-number box-info-main info-box-value">0</span></span>
            <div class="info-box-content">
              <span class="info-box-text">Top Lift</span>
              <span class="info-box-number">kg</span>
              <span class="info-box-text">On <span class="info-box-date">1/1/2000</span></span>
              <span class="info-box-text">Reps: <span class="info-box-rep">0</span></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div id="box-mean-str" class="info-box">
            <span class="info-box-icon bg-yellow"><span class="info-box-number box-info-main info-box-value">0</span></span>
            <div class="info-box-content">
              <span class="info-box-text">Mean STR-Rate</span>
              <span class="info-box-number">strp</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <!-- AREA CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Str-Rate evolution by workout</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="chart-strrate-evo" style="height: 500px; width: 468px;" width="468" height="500"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->

@section Scripts
{
  <script>
    var ExerciseId = @ViewBag.ExerciseId;
  </script>
  <!-- jQuery 3 -->
  <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="/lib/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- ChartJS -->
  <script src="/lib/chart.js/Chart.js"></script>
  <!-- FastClick -->
  <script src="/lib/fastclick/lib/fastclick.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/js/demo.js"></script>
  <!-- page script -->
  <script src="/js/pages/exercise/main.js"></script>
  <!-- site scripts -->
  <script src="/js/site.js"></script>
}

