
    <section id="main-sidebar" class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li id="exercises-sidebar-header" class="header">EXERCISES</li>
            <li id="exercises-sidebar" class="treeview"><!-- active menu-open">-->
                <a href="#">
                    <i class="fa fa-th"></i>
                    <span class="group-name">Group</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <!--<li class="active"><a href="chartjs.html"><i class="fa fa-circle-o"></i> Exercise Active</a></li>-->
                    <li class="group-submenu"><a class="exercise-link" href="test.html"><i class="fa fa-circle-o"></i><span class="exercise-name"> Exercise</span></a></li>
                </ul>
            </li>
        </section>